html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Ajoutez ces classes dans votre fichier CSS global */
.scrollable-table {
    max-height: 600px; /* Ajustez cette hauteur selon vos besoins */
    overflow-y: hidden; /* Pas de défilement ici */
}

.custom-thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.custom-tbody {
    display: block;
    max-height: 600px;  /* La hauteur maximale pour le défilement */
    overflow-y: auto;
    width: 100%;
    table-layout: fixed;
}

.custom-tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
