@model GestionBerger.Models.RaceChien

@{
    ViewData["Title"] = "Ajouter";
}

<h1>Ajout de couleurs</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomRaceChien" class="control-label">Nom de la RaceChien</label>
                <input asp-for="NomRaceChien" class="form-control" />
                <span asp-validation-for="NomRaceChien" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-success" /> 
                <button type="submit" class="btn btn-info">Précédent</button>
            </div>
        </form>
    </div>
</div>

<div>
    @* <form asp-action="Index" method="get" style="display:inline;">

        <button type="submit" class="btn btn-info">Précédent</button>
    </form> *@
    
</div>
<div>
    <form asp-area="" asp-controller="Home" asp-action="Index" method="get" style="display:inline;">

        <button type="submit" class="btn btn-secondary">Menu Principal</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
