@model IEnumerable<GestionBerger.Models.RaceChat>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestion des RaceChats</h1>
<br />
<div>
    <form asp-action="Create" method="get" style="display:inline;">
        <button type="submit" class="btn btn-success">Nouvelle RaceChat</button>
    </form>
    <form asp-controller="Administration" asp-action="Index" method="get" style="display:inline;">
        <button type="submit" class="btn btn-info">Précédent</button>
    </form>
    <form asp-area="" asp-controller="Home" asp-action="Index" method="get" style="display:inline;">
        <button type="submit" class="btn btn-secondary">Menu Principal</button>
    </form>
</div>

<!-- Table header and scrolling body -->
<div class="scrollable-table">
    <table class="table">
        <thead class="custom-thead">
            <tr class="custom-tr">
                <th>Nom de la Race de Chat</th>
            </tr>
        </thead>
        <tbody class="custom-tbody">
            @foreach (var item in Model)
            {
                <tr class="custom-tr">
                    <td>@item.NomRaceChat</td>
                    <td>
                        <form asp-action="Edit" method="get" style="display:inline;">
                            <input type="hidden" name="IdRaceChat" value="@item.IdRaceChat" />
                            <button type="submit" class="btn btn-primary">Modifier</button>
                        </form>
                        <form asp-action="Delete" method="get" style="display:inline;">
                            <input type="hidden" name="IdRaceChat" value="@item.IdRaceChat" />
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
