@model IEnumerable<GestionBerger.Models.Couleur>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestion des Couleurs</h1>
<br/>
<div>
    <form asp-action="Create" method="get" style="display:inline;">

        <button type="submit" class="btn btn-success">Nouvelle Couleur</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            
            <th>Nom de la Couleur</th>
        </tr>
    </thead>
    <br/>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.NomCouleur</td>
                <td>
                    <form asp-action="Edit" method="get" style="display:inline;">
                        <input type="hidden" name="IdCouleur" value="@item.IdCouleur" />
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>

                    
                    <form asp-action="Delete" method="get" style="display:inline;">
                        <input type="hidden" name="IdCouleur" value="@item.IdCouleur" />
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        
        }
    </tbody>
</table>

<div>
    
    <form asp-area="" asp-controller="Home" asp-action="Index" method="get" style="display:inline;">

        <button type="submit" class="btn btn-info">Menu Principal</button>
    </form>
</div>
